/* Hover effects adapted from old blockb.js */
.containergbs1:hover, .containergbs2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.Containerfabc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containergbs1,.containergbs2{
    background-color: #0D47A1;
    padding: 10px 60px 10px 60px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 40px;
    align-items: center;
    margin: 7px 0px 10px 0px;
    box-shadow: 1px 1px 10px #002B5B;
}

.gbsh1,.gbsh2{
    background-color: #64B5F6;
    padding: 2px 30px 2px 30px;
    font-weight: 600;
    border-radius: 20px;
    color: #002B5B;
    text-align: center;
}

.gbsc1,.gbsc2{
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 5px;
    display: flex;
}

.gbsc1 ul li{
    list-style-type: none;
}

.gbsc1 ul a{
    text-decoration: none;
    color: white;
}

.gbsc2 ul li{
    list-style-type: none;
    
}

.gbsc2 ul a{
    text-decoration: none;
    color: white;
}



@media(max-width:570px){

    .gbsh1{
        width: 190px;
    }

    .gbsh2{
        width: 200px;
    }

    .gbsc1 ul li{
        list-style-type: none;
        width: 290px;
    }

    .containergbs1{
        padding: 0px;
        width: 325px;
        height: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 12px;
        border-radius: 50px;
    }

    .gbsh1{
        border-radius: 30px;
        width: 220px;
        padding-top: 2px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .containergbs2{
        width: 200px;
        height: fit-content;
        display: flex;
        justify-content: center;
        border-radius: 45px;
    }

    .gbsh2{
        border-radius: 40px;
        width: 250px;
        padding: 2px 5px 2px 5px;
       
    }

    .gbsc2 ul li{
        list-style-type: none;
        width: 290px;
    }
}

