.containertou{
    display: flex;
    justify-content: center;
}

.toulf{
    display: flex;
    flex-direction: column;
    width: 1500px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.htou{
    color: #002B5B;
    font-weight: 600;
    padding-top: 5px;  
}

.toulf div{
    color:#002B5B;
}