.containerfef{
    display: flex;
    justify-content: center;
}

.iff{
    width: 450px;
    height: fit-content;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px #002B5B;
}

#feedf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fffh{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yoe{
    color: #002B5B;
    font-weight: 550;
    margin-top: 10px;
    font-size: 18px;
}

.syb{
    color: #002B5B;
    font-size: 12px;
}

.ffem{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.emoji{
    display: block;
    font-size: 30px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    margin-top: 2px;
}

input[type="radio"]:checked + .emoji {
    animation: ema 0.5s ease 0s forwards;
}

@keyframes ema {
    100%{
        transform: scale(1.3);
    }
}

.cwiw{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.wiw{
    font-weight: 600;
    font-size: 17px;
}

.ffcb{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 8px;
    margin-top: 6px;
}

.chb1{
    width: 110px;
    background-color: #64B5F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 1px 1px 3px #002B5B;
}

.chb2{
    width: 131px;
    background-color: #64B5F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #002B5B;
}

.chb3{
    width: 94px;
    background-color: #64B5F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #002B5B;
}

.chb4{
    width: 188px;
    background-color: #64B5F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #002B5B;
}

.chb5{
    width: 60px;
    background-color: #64B5F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #002B5B;
}

.chb6{
    width: 60px;
    background-color: #64B5F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #002B5B;
}

.chb1.active  {
    animation: cba 0.5s ease 0s forwards;
}

.chb2.active  {
    animation: cba 0.5s ease 0s forwards;
}

.chb3.active  {
    animation: cba 0.5s ease 0s forwards;
}

.chb4.active  {
    animation: cba 0.5s ease 0s forwards;
}

.chb5.active {
    animation: cba 0.5s ease 0s forwards;
}

.chb6.active  {
    animation: cba 0.5s ease 0s forwards;
}

@keyframes cba {
    100%{
        background-color: #3177e0 ;
        transform: scale(1.05);
        color: white;
    }
}

#fftbn{
    resize: none;
    height: 200px;
    width: 230px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    display: none;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 7px #002B5B;
}

#fftbn::placeholder{
    color: #002B5B;
    font-size: 14px;
    padding-top: 4px;
}

#ffsb{
    background-color:#3177e0;
    color: white;
    width: 70px;
    height: 28px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #3177e0;
    font-weight: 600;
    transition: border 0.5s ease;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px #002B5B;
}

#ffsb:hover{
    cursor: pointer;
}

#ffsb:active{
    transform: scale(1.05) ;
}


#fftbn.show{
    display: block;
}

@media(max-width:700px){
    .iff{
        width: 345px;
    }
    .emoji{
        height: 44px;
        width: fit-content;
    }
}

.containeremff{
    display: flex;
    justify-content: center;
}

#errormsg{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}

.containerss{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ssff{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border: 2px solid #002B5B;
    width: 350px;
    border-radius: 30px;
    animation: fsubmit 1s ease 0s;
}

@keyframes fsubmit {
    0%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1.0);
    }
}

.bfsf{
    width: fit-content;
    display: flex;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.img{
    width: 100px;
    background-color:#64B5F6;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    bottom: 20px;
    animation: moveimg 1s ease 0s;
}

@keyframes moveimg {
    0%{
        transform: rotate(30deg);
    }
}

.fss{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    bottom: 6px ;
}

.tfyvt{
    position: relative;
    bottom: 6px;
    font-size: 15px;
}
