#qocd{
    width: 700px;
    text-align: center;
    background-color: #64B5F6;
    color: #002B5B;
    border-radius: 40px;
    padding: 1px 10px 1px 10px;
    position: relative;
    top: -7px;
    border: 2px solid #64B5F6;
    box-shadow: 1px 1px 10px #002B5B;
}

@media(max-width:700px){
    #qocd{
        width: 270px;
    }
}

.containerb{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    height: auto;
}

.pds{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #002B5B;
    overflow: hidden;
}

.pds img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ps1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qph{
    font-size: 20px;
    font-weight: 550;
    color: #002B5B;
}

.sbh{
    color: #002B5B;
    font-size: 17px;
    font-weight: 510;
    position: relative;
    top: -5px;
}

.containerd{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.fsb{
    font-size: 15px;
    color: #002B5B;
    font-weight: 450;
    margin-top: 3px;
}

.containerse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    height: auto;
}

.seh{
    font-size: 20px;
    font-weight: 550;
    color: #002B5B;
}
.seb{
    width: 700px;
    text-align: center;
    background-color: #64B5F6;
    color: #002B5B;
    border-radius: 40px;
    padding: 1px 10px 1px 10px;
    position: relative;
    border: 2px solid #64B5F6;
    box-shadow: 1px 1px 10px #002B5B;
}

@media(max-width:700px){
    .seb{
        width: 270px;
    }
}

.containerfm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: auto;
}

.fmh{
    font-size: 20px;
    font-weight: 550;
    color: #002B5B;
}

.fmb{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -1px; 
}

.fmc{
    color: #002B5B;
    text-align: center;
}

#fbb{
    display: block;
    font-size: 16px;
    border-radius: 50px;
    width: 95px;
    background-color: #64B5F6;
    border: 2px solid #64B5F6;
    font-weight: 500;
    color: #002B5B;
    box-shadow: 1px 1px 10px #002B5B;
    margin-top: 4px;
}

#fbb:hover{
    cursor: pointer;
}

.fmb a{
    text-decoration: none;
}

@media(max-width:700px){
    .fmc{
        width: 270px;
    }
}

.containerfl{
    background-color: #0D47A1;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 120px;
    box-shadow: 1px 1px 10px #002B5B;
}

.ffw{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 20px;
    width: 100%;
}

.flc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0 20px;
}

.flc div a{
    text-decoration: none;
    color: white;
}

.flc div{
    color: white;
}

#flcc{
    position: relative;
    top: 10px;
    height: 69.6px;
}

.flh{
    font-weight: 550;
    font-size: 16px;
}

.flc a{
    font-size: 14px;
}

#frm{
    margin-left: 62px;
    width: 158.55px;
}

@media(max-width:600px){
    #flcc{
        top: 0px;
        height: 69.6px;
    }
    .containerfl{
        height: 230px;
    }

    .ffw{
        gap: 10px;
    }
}

@media(max-width:500px){
    #frm{
        margin-left: 0px;
    }
}

@media(max-width:390px){
    #frm{
        width: 120px;
    }
}

@media (min-width: 600px) and (max-width: 865px) {
    .containerfl {
        height: 205px;
    }
    #flcc{
        position: relative;
        top: -80px;
    }
}

.flc a:hover{
    text-decoration: underline;
}
